<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${jetty.home}/logs/quicktour.log</File>
        <encoder>
            <pattern>%d %5p %c{1}:%L - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>5</maxIndex>
            <minIndex>1</minIndex>
            <FileNamePattern>${jetty.home}/logs/quicktour%i.log</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d %5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="FileAsync" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>
    <appender name="StdoutAsync" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="com.quicktour" level="ALL"/>
    <root level="ERROR">
        <appender-ref ref="FileAsync"/>
        <appender-ref ref="StdoutAsync"/>
    </root>
</configuration>